{% extends 'base.html' %}
<!-- block containt -->
{% block content %}

<h2 class="text-center">Change User Password </h2>
<div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'change_user_password' %}">
        {% csrf_token %} {% if form.errors %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">

            <button type="button" class="close" data-dismiss="alert">
              <small><sup>X</sup></small>
            </button>
            <p> Must Have Some Of Requeard </p>
            {% for field in form %} {% if field.errors %} {{ field.errors }} {% endif %} {% endfor %}
        </div>
        {% endif %} {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Change Password">
        <!-- <a href="{% url 'login_user'%}">Alredy Have an account !</a> -->
    </form>
</div>
{% endblock %}